<h1>Welcome To  The Pokemon Safari</h1>


<div>
    <p>
    In The Pokemon Safari You Can See A Full List Of Pokemon 
    That Dwell Within The Safari Zones. To Get Started Login Or 
    Create A New User Account. Then Surf Through Our Unique Zones.
    </p>
</div>

<div>
    <p>Have An Account Already?
    <%=link_to "Login", login_path%>
    </p>
    <p>Sign Up For Full Access
    <%=link_to "Create Account", new_user_path %>
    </p>
</div>


<div>
    <p>
    
        Made With ❤️ By <a href="https://github.com/rikmarqk">Ricardo Marquez  </a> & <a href="https://github.com/akrama23" >Akram Alam  </a>
    </p>
   
</div>