<div class="topbanner">
<h1 class="pagetitle">PokeDex<h1/>
</div>

<div class="dex">
<ul id="hori"><%@pokemons.each do |pokemon|%>
    <li>
    <img src=<%=pokemon.img_url%>>
    <%=link_to pokemon.name, pokemon_path(pokemon) %>
    </li>
    <%end%>
<ul/>
</div>
