<div class="topbanner">
<h1>PokeDex<h1/>
</div>

<ul><%@pokemons.each do |pokemon|%>
    <li>
    <img src=<%=pokemon.img_url%>>
    <br/>
    <%=link_to pokemon.name, pokemon_path(pokemon) %>
    </li>
    <br/>
    <%end%>
<ul/>