/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'LEMONMILK-Light';
    src: url("LEMONMILK-Light.otf") format("opentype");
}

body {
    background-color: rgb(255, 230, 0);
}

h1 {
    font-family: "LEMONMILK-Light";
    letter-spacing: 8px;
}
h1.pagetitle {
    color: rgb(0, 0, 0);
    margin-top: 100px;
    margin-left: 0px;
    margin-right: auto;
    font-size: 21px;
    float: left;
}
input[type=text] {
    background-color: rgb(255, 246, 167);
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: #d3ac01;
    border-radius: 15px;
  }
  div#search {
      margin-top: 85px;
      margin-left: 0px;
      float: left;
  }
div.navlinks_content {
    font-size: 12px;
    float: left;
    margin-left: 0px;
    margin-right: auto;
    padding: 20px;
}
h3 {
    font-family: "LEMONMILK-Light";
    letter-spacing: 4px;
}
li {
    font-family: "LEMONMILK-Light";
    letter-spacing: 2px;
    font-size: 11px;
    list-style-type: none;
}
#button{
    background-color: red;
}

img#user {
    width: 125px;
    height: auto;
}
/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(104, 80, 0);
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: rgb(104, 80, 0);
    text-decoration: none;
  }

  img#pokebanner {
      height: 130px;
      width: auto;
      padding: 20px;
      margin-left: 0px;
      margin-right: auto;
      float: left;
  }

 div.topbanner {
     width: auto;
     height: auto;
 }

 div.dex {
     display: table;
     width: auto;
     height: auto;
     padding: 25px;
     margin: 20px;
     background-color: #d3ac01;
 }
ul#hori li {
    display: inline;
}

 div.content {
     background-color: rgb(24, 163, 255);
     color: white;
     padding: 20px;
     padding-left: 30px;
     align-content: left;
     border-radius: 25px;
     box-shadow: 3px 3px 4px #d3ac01;
     width: 600px;
     float: left;
 }

 div.leftbanner {
    float:left;
    background-color: rgb(181, 225, 255);
    color: rgb(23, 33, 39);
    padding: 20px;
    padding-left: 30px;
    align-content: left;
    border-radius: 25px;
    box-shadow: 3px 3px 4px #d3ac01;
    width: 200px;
    height: 450px;
    float: left;
    overflow:scroll;
    margin-left: 50px;

 }